html {
	height: 100%;
}

body {
	background: #d9d9d9;

	background-repeat: no-repeat;
	background-size: cover;

	margin: 0;
	overflow: auto;
	height: 100%;
}


	/* Header style */
#header ul {
	background-color: #2C3539;
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	top: 0px;
	width: 100%;
	border-bottom: white 3px solid;
	position: fixed;
	z-index: 1;
}

	/* Location of Header Elements*/
#header li {
	float: right;
	border-right: 1px solid white;
}

	/* Header text */
#header li a {
	display: inline-block;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	font-family: 'Gruppo', cursive;
	font-size: 19px;
}

	/* Highlights a link when hovering over*/
#header li a:hover {
	background-color: #1a1a1a;
}

	/* Highlights the link that the user is currently on*/
.active {
	background-color: #a6a6a6;
}





/* -------------- HOME PAGE -------------- */

	/* Header for "Home" page */
h1 {
	color: #005BBB;
	font-family: 'Gruppo', cursive;
	font-size: 34px;
	padding-top: 120px;
}

.homeText {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	padding: 0 15% 20px 15%;
}

/* Disallows user highlight or drag of image*/
img {
	-webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none; 
	user-select: none;
	padding-top: 20px;
	padding-bottom: 50px;
}

h3 {
	color: black;
	font-family: 'Gruppo', cursive;
	font-size: 20px;
}

.button {
    padding: 12px 24px;
    margin: 5px;
    text-align: center;
    font-family: 'Gruppo', cursive;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none; 
	user-select: none;
}

.button:focus {
	outline: none;
}

.appleButton {
	background-color: #d9d9d9;
	color: black;
	border: 2px solid #2C3539;
	border-radius: 28px;
}

.appleButton:hover {
	background-color: #b3b3b3;
}

.androidButton  {
	background-color: #d9d9d9;
	color: black;
	border: 2px solid #2C3539;
	border-radius: 28px;
}

.androidButton:hover {
	background-color: #b3b3b3;
}

.steamworksButton {
	background-color: #d9d9d9;
	color: black;
	border: 2px solid #2C3539;
	border-radius: 28px;
}

.steamworksButton:hover {
	background-color: #b3b3b3;
}






/* -------------- ABOUT PAGE -------------- */
	
	/* Atlanta background on About page */
.bgAtlanta {
	background:
		/* tints background image for text to be read more clearly*/
		linear-gradient(
      		rgba(22, 22, 22, 0.75), 
      		rgba(22, 22, 22, 0.75)
    	),
		url("images/atlanta.jpg");
	min-height: 100%;
	position: relative; /*fixes footer jumping*/

	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

	/* Header for "About" page */
h2 {
	color: white;
	font-family: 'Gruppo', cursive;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	padding-top: 120px;
}

	/* About Me Text */
.aboutText {
	padding: 0 15% 10% 15%;
	margin-left: auto;
	margin-right: auto;

	font-family: 'Gruppo', cursive;
	font-size: 20px;
}

.aboutText a {
	text-decoration: none;
}





/* -------------- PROJECTS PAGE -------------- */

	/* Headers for "Projects" page */
h5 {
	color: #005BBB;
	font-family: 'Gruppo', cursive;
	font-size: 18px;
	text-align: left;
}

	/* Paragraph Text */
p {
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	color: black;
}

.project-wrapper {
	position: absolute;
	min-height: 100%;
}






.wrapper {
	position: relative;
	height: 100%; /* affects footer */
	margin: 0 auto;
	box-sizing: border-box;
	overflow: auto;
}

	/* Footer */
.footer {
	position: relative;
	height: 30px;
	line-height: 30px;
	min-width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;

	font-family: 'Gruppo', cursive;
	text-align: center;
	background-color: white;
	border-top: #2C3539 3px solid;

	-webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none; 
	user-select: none;
}

.fixedFooter {
	position: fixed;
	height: 35px;
	line-height: 35px;
	min-width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;

	font-family: 'Gruppo', cursive;
	text-align: center;
	background-color: white;
	border-top: #2C3539 3px solid;

	-webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-drag: none; 
	user-select: none;
}

	/* Removes link underline in footer*/
.footer a {
	text-decoration: none;
}

	/* Sticky footer for some pages */
.fixedFooter a {
	text-decoration: none;
}
