html {
	height: 100%;
}

body {
	/*edf1f8*/
	background: #E6DADA;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	padding-top: 20px;
	margin:0;
	height: 94.5%;
}


	/* Header */
#header ul {
	background-color: #204060;
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	top: 0px;
	width: 100%;
	border-bottom: gold 3px solid;
	position: fixed;
	z-index: 1;
}

	/* Location of Header Elements*/
#header li {
	float: right;
	border-right: 1px solid white;
}


	/* Header text */
#header li a {
	display: block;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

	/* Highlights a link when hovering over*/
#header li a:hover {
	background-color: #132639;
}

	/* Highlights the link that the user is currently on*/
.active {
	background-color: gold;
}

#homepageImages {
	padding:0px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	text-align: center;
}

#homepageImages img {
	vertical-align: middle;
}

	/* Atlanta background on About page */
#bgAtlanta {
	background-image: url("images/atlanta.jpg");
	width: 100%;
	height: 100%;
	position: relative;
	/*opacity: 0.97;*/
	/*filter: alpha(opacity=95);*/

	background-repeat: no-repeat;
	background-size: cover;
}

	/* About Me Text */
.aboutText {
	padding-left: 35%;
	padding-right: 35%;
	padding-bottom: 14%; /*fixes height issue */
	margin-left: auto;
	margin-right: auto;

	font-family: Courier;
	font-size: 16px;
	text-align: left;
	background: rgba(20, 20, 20, 0.50);
}

.projectText {
	float: right;
	padding-left: 40%;
}

	/* Positioning of videos on Other page */
#otherVideos iframe {
	padding-left: 40px;
	vertical-align: left;
	padding-bottom: 80px;
}

	/* Headers for "Home" and "About" pages */
h1 {
	color: #204060;
	font-family: 'Rationale', sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding-top: 40px;
}


	/* Headers for "Projects: and Other" pages */
h4 {
	color: #204060;
	font-family: 'Rationale', sans-serif;
	font-size: 18px;
	text-align: right;
	padding-right: 35%;
	padding-top: 28px;
}


	/* Header for Links on Other Page */
h5 {
	color: #204060;
	font-family: 'Rationale', sans-serif;
	font-size: 20px;
	padding-left: 40px;
	text-transform: uppercase;
}

	/* Paragraph Text */
p {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	/*border: 2px solid white;*/
	/*margin: 20px;*/

	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 20px;
	color: black;
}

#wrapper {
	position: relative;
	min-height: 100%; /* affects footer */
}

#project-wrapper {
	position: absolute;
	min-height: 100%;
}

	/* Footer */
#footer {
	position: absolute;
	height: 30px;
	width: 100%;
	bottom: 0;

	text-align: center;
	background-color: #d9d9d9;
	border-top: gold 3px solid;
}

	/* Removes link underline in footer*/
#footer a {
	text-decoration: none;
}